* {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    border-radius: 4px;
}

window#waybar {
    background-color: transparent;
    color: #1E1E1E; 
}

#workspaces button {
    padding: 0 10px;
    background-color: transparent;
    color: white; 
}

#workspaces button.active {
    color: #89B4FA; 
}
#clock,
#battery,
#network,

#backlight { 
    margin: 0 4px;
    padding: 4px 12px;
    background-color: #89B4FA;
    color: #1E1E1E;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#pulseaudio {
    margin: 0 4px;
    padding: 4px 12px;
    background-color: #89B4FA; 
    color: #1E1E1E; 
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

#battery {
    background-color: #89B4FA;
}

#battery.charging, #battery.plugged {
    color: #1E1E1E;
    background-color: #A6E3A1;
}

#battery.critical:not(.charging) {
    background-color: #F38BA8;
    color: #1E1E1E;
}

#pulseaudio.muted {
    background-color: #F38BA8; 
}
#clock{
    color:#ffffff;
    background:transparent;
    font-weight:bold; 
}

